In [1]:
# импорт библиотек

import pandas as pd # pandas и numpy
import numpy as np


import re # регулярки

In [5]:
work = pd.read_excel('C:/Data/Стоматологии/data_stom.xlsx', sheet_name='data')

"Красивые" телефонные номера

In [6]:
work.head(2)

,page_url,object_name,address,region,city,street_type,street,house,phone,Unnamed: 9,...,clinic_rating,review_number,description,clinic_info,doc_pics,specialists_dict,price,services,contacts,soc_links
0,https://zoon.ru/msk/medical/stomatologicheskay...,Ника Орто,"Москва, к1126, Зеленоград",Москва,Зеленоград,"к1126, Зеленоград",Зеленоград,к1126,89660326559,NaN,...,4.4,21,"Гордиться улыбкой, без стеснения дарить ее окр...","['Юридическое название: ООО ""Ника Денталь""']",3,{'Мадина Болатовна Сатыбалова ': ['Стаж 14 лет...,"{'Лечение кариеса': '500—7000', 'Удаление зубо...",{'Тип мед. учреждения': 'стоматологическая кли...,"{'Время работы': ['Пн-Чт, Сб-Вс: 10:00—20:00 и...",none
1,https://zoon.ru/msk/medical/stomatologicheskay...,Никор,"Москва, к1204, Зеленоград",Москва,Зеленоград,"к1204, Зеленоград",Зеленоград,к1204,89680404512,NaN,...,4.3,24,"Ищете стоматологию в Зеленограде, чтобы решить...",none,8,{'Ильшат Ильгизарович Магфурзянов ': ['Стаж 17...,"{'Лечение кариеса': '≈ 4000', 'Удаление зубов'...",{'Тип мед. учреждения': 'стоматологическая кли...,"{'Адреса сети': ['Вся сеть Никор, группа компа...",none

In [29]:
def simplify_phone(work):
    temp = str(work.phone)
    if len(temp) == 11:
        return '(' + temp[1:4] + ') ' + temp[4:7] + '-' + temp[7:9] + '-' + temp[9:11]

In [30]:
work['new_phone'] = work.apply(simplify_phone, axis=1)

In [32]:
work.head(2)

,page_url,object_name,address,region,city,street_type,street,house,phone,Unnamed: 9,...,review_number,description,clinic_info,doc_pics,specialists_dict,price,services,contacts,soc_links,new_phone
0,https://zoon.ru/msk/medical/stomatologicheskay...,Ника Орто,"Москва, к1126, Зеленоград",Москва,Зеленоград,"к1126, Зеленоград",Зеленоград,к1126,89660326559,NaN,...,21,"Гордиться улыбкой, без стеснения дарить ее окр...","['Юридическое название: ООО ""Ника Денталь""']",3,{'Мадина Болатовна Сатыбалова ': ['Стаж 14 лет...,"{'Лечение кариеса': '500—7000', 'Удаление зубо...",{'Тип мед. учреждения': 'стоматологическая кли...,"{'Время работы': ['Пн-Чт, Сб-Вс: 10:00—20:00 и...",none,(966) 032-65-59
1,https://zoon.ru/msk/medical/stomatologicheskay...,Никор,"Москва, к1204, Зеленоград",Москва,Зеленоград,"к1204, Зеленоград",Зеленоград,к1204,89680404512,NaN,...,24,"Ищете стоматологию в Зеленограде, чтобы решить...",none,8,{'Ильшат Ильгизарович Магфурзянов ': ['Стаж 17...,"{'Лечение кариеса': '≈ 4000', 'Удаление зубов'...",{'Тип мед. учреждения': 'стоматологическая кли...,"{'Адреса сети': ['Вся сеть Никор, группа компа...",none,(968) 040-45-12

In [33]:
work.to_excel('C:/Data/Стоматологии/data_stom_new.xlsx', index=False)

In [ ]:
# импорт файла в датафрейм

work = pd.read_excel()

In [ ]:
# смотрю случайные строки

work.sample(3)

In [ ]:
# перевожу названия столбцов в нижний регистр

work.columns = work.columns.str.lower()

In [ ]:
# Меняю пробелы на "_" в названиях столбцов

work.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [ ]:
# количество строк и столбцов

work.shape

In [ ]:
# типы данных

work.dtypes

In [ ]:
# меняю типы столбцов

work = work.astype({'col': 'type', 'col2': 'type_2'})

In [ ]:
# проверка на пустые значения

work.isnull().sum()

In [ ]:
# Заполняю пустые значения в столбце строкой 'null' или '0' (если во всем датафрейме, то без указания столбца)

work.column_name.fillna('null', inplace=True)

work.fillna('null', inplace=True)

## Чистка и унификация текста ##

In [ ]:
# меняю "ё" на "е" в строках

df.column = df.column.str.replace('ё', 'е')

In [ ]:
# убирает  переводы строки

df.column = df.column.str.replace('\n', ' ')

In [ ]:
# для визуализации
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# статистических

import statistics

%matplotlib inline

In [ ]:
[i for i in list(students_df) if 'score' in i]

In [ ]:
[i for i in students_df.columns if 'score' in i]

In [ ]:
students_df.filter(like='score')

In [ ]:
# axis=0 - строки (в индексе), axis=1 - столбцы 

students_df.filter(like='1', axis=0)

In [ ]:
(
    students_df.groupby('gender', as_index=False)
    .agg({'math_score': 'mean'})
    .rename(columns={'math_score': 'math_score_mean'})
)

In [ ]:
# доля пропусков в данных

round(titanic_data.isna().mean() * 100, 2)

In [ ]:
import time

In [ ]:
# индикатор прогресса


from tqdm import tqdm
from tqdm import tqdm_notebook

In [ ]:
tqdm_notebook

In [ ]:
mylist = [1,2,3,4,5,6,7,8]

for i in tqdm_notebook(mylist):
    time.sleep(1)