In [1]:
# загружаю библиотеки

import pandas as pd

In [2]:
# загружаю датасет

work = pd.read_excel('C:/Users/Boris/Downloads/Красная горка/prices_new.xlsx', sheet_name='work')

In [4]:
# смотрю данные

work.sample(3)

,№№,clinic,species,type,type_2,product,addition,unit,price_limit,action,product_original,price
469,470,Дентанис,взрослые,6. Имплантология,съемное протезирование,Полный съемный протез,NaN,NaN,NaN,NaN,Полный съемный протез,21000.0
6213,6214,Персона,взрослые,NaN,съемные протезы,Протезирование съемными бюгельными протезами (...,NaN,NaN,NaN,NaN,Протезирование съемными бюгельными протезами (...,53500.0
2902,2903,Павленко,взрослые,5. Ортопедия,прочие работы,Замена матрицы,NaN,1,NaN,NaN,Замена матрицы,1800.0

In [9]:
work.dtypes

№№                    int64
clinic               object
species              object
type                 object
type_2               object
product              object
addition             object
unit                 object
price_limit          object
action               object
product_original     object
price               float64
dtype: object

In [12]:
# меняю ё на е

work.product = work.product.str.replace('ё', 'е')

AttributeError: 'function' object has no attribute 'replace'

In [11]:
# убираю переводы строки

work.product = work.product.str.replace('\n', ' ')

AttributeError: 'function' object has no attribute 'str'